<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  
  <header class="row">
    <div id="brandStyle">
      <img src="../../assets/logo.png" alt="logo" id="logo">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="labelSearch">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <input class="form-control py-2 border-right-0 border" id="search" type="search" placeholder="Search">
    </div>
    <button id="startBtn">
      <p id="startBtnText">Home</p>
    </button>
    <button id="followingBtn">
      <p id="followingBtnText">Following</p>
    </button>
    <button id="userBtn">
      <img src="../../assets/user.png" id="userImg" alt="image">
      <p id="userName">Usuario</p>
    </button>
    <button id="mesaggesBtn">
      <i class="fas fa-comment"></i>
    </button>
    <button id="notificationBtn">
      <i class="fas fa-bell"></i>
    </button>
    <button id="ellipsisBtn">
      <p id="ellipsis">•••</p>
    </button>
   </header>
   <div>
    <hr>
   </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
